html{
    font: 100% "Roboto";
}

body{
    display: flex;
    background-color: rgb(251, 251, 251);
    width: 100%;
    margin: 0px;
    flex-direction: column;
}

 .emTopContent{
     display: flex;
     width: 100%;
     height: 150px;
     background-color: white;
     justify-content: space-around;
     font-size: 120%;   
 }

.emTopContent h2{
    display: flex;
    justify-content: space-around;
}

.emBanner{
    display: flex;
    width: 100%;
    box-shadow: 0 4px 20px -10px black;
}

.emMainContent{
    display: flex;
    width: 100%;
    height: 80%;
    margin-top: 5%;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
}

.emMainContent h1{
    cursor: pointer;
}

.emContentBorder{
    display: flex;
    height: 2px;
    width: 5%;
    background-color: grey;
}

.drawerHandle{
    display:flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;

}

.aboutMeDrawer img{
    height: 300px;
}

.aboutMeDrawer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.contentCard{
    display: flex;
    width: 20%;
}

.hiddenDrawer{
    display: flex;
    width: 100%;
    height: 0px;
    background-color: rgb(240, 240, 240);
    box-shadow: inset 0 0 10px grey;
    flex-direction: row;
    justify-content: center;
}

.drawerTop{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.projectDrawer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.projectPreviewCard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 20%;
    height: 80%;
    box-shadow: 0 0 10px 5px grey;
    background-color: rgb(251, 251, 251);
    overflow: hidden;
    cursor: pointer;
}

.closeCardIcon{
    display: flex;
    width: 10%;
    height: 10%;
}

.projectImage{
    display: flex;
    height: 50%;
    width: 10%;
}

.projectText{
    display: flex;
    height: 90%;
    width: 40%;
}