html{
    font: 100% "Roboto";
}

body{
    display: flex;
    background-color: rgb(251, 251, 251);
    width: 100%;
    margin: 0px;
    flex-direction: column;

}

.emTopContent{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: white;
    justify-content: space-around;
    font-size: 120%;   
}

.emTopContent h2{
    display: flex;
    justify-content: space-around;
}

.emBanner{
    display: flex;
    width: 110%;
    margin: 0px -5%;
    box-shadow: 0 4px 20px -10px black;
}

.emMainContent{
    display: flex;
    width: 100%;
    height: 80%;
    margin-top: 5%;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
}

.emMainContent h1{
    cursor: pointer;
}

.emContentBorder{
    display: flex;
    height: 2px;
    width: 100%;
    background-color: grey;

    z-index: 10;
}

.emAbout{
    display:flex;
    height: 100%;
    flex-direction: column;
}
.hiddenDrawer{
    display: flex;
    width: 1vh;
    height: 200px;
    background-color: red;
}