html{
    font: 100% "Roboto";
}

body{
    width: 10000px;
    background-color: #1D9AD6;
    margin: 0;
}

.skyContainer{
    width: 100%;
}
.foregroundSky{
    background-color: white;
    height: 50px;
    width: 100%;

}

.backgroundSky{
    background: transparent url(/slide_1-clouds1.png) top left repeat-x;
    height: 174px;
    animation: swingleft 10s linear infinite;
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
}

@keyframes swingleft{
    from {
    background-position: 0 0;
    }
   to{
       background-position: 100% 0;
   }
}

.grassGround{
    position: absolute;
    bottom: 0px;
    background-color: green;
    height: 150px;
    width: 100%;

}